<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/stylesheet/assets/variables.css">
    <link rel="stylesheet" href="/stylesheet/assets/navbar.css">

    <link rel="stylesheet" href="/stylesheet/profiles/filter.css">
    <link rel="stylesheet" href="/stylesheet/profiles/profiles.css">
    <link rel="stylesheet" href="/stylesheet/config/homePage/homePage.css">
    
    <title>Home Page</title>

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body {
            /* background-image: url('/images/MainPage.png'); */ /* remove */ 
            background-image: url('/images/back_10.png');
            background-size: 50%;
        }

        #homePages {
            display: flex;
            gap: 5px;
        }
        #homePages div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            width: 100px;
            height: 100px;
            background-color: #ddd;
        }
    </style>
</head>
<body>
    <%- include('../assets/navbar.ejs', { active: 'config/homePage' }) %>
    <header class="top">
        <h2>Tela Inicial</h2>
        <h3>Promoções</h3>
    </header>
    <div id="notifications"></div>
    <main>
        <section class="homePage">
            <div id="homePages">
                <div id="order_0" class="block">
                    <div class="item"></div>
                    <div class="none"> <%- include('../assets/icons/empty.ejs') %> </div>
                    <div class="options">
                        <button class="delete"> <%- include('../assets/icons/trash.ejs') %> </button>
                    </div>
                </div>
                <div id="order_1" class="block">
                    <div class="item"></div>
                    <div class="none"> <%- include('../assets/icons/empty.ejs') %> </div>
                    <div class="options">
                        <button class="delete"> <%- include('../assets/icons/trash.ejs') %> </button>
                    </div>
                </div>
                <div id="order_2" class="block">
                    <div class="item"></div>
                    <div class="none"> <%- include('../assets/icons/empty.ejs') %> </div>
                    <div class="options">
                        <button class="delete"> <%- include('../assets/icons/trash.ejs') %> </button>
                    </div>
                </div>
                <div id="order_3" class="block">
                    <div class="item"></div>
                    <div class="none"> <%- include('../assets/icons/empty.ejs') %> </div>
                    <div class="options">
                        <button class="delete"> <%- include('../assets/icons/trash.ejs') %> </button>
                    </div>
                </div>
                <div id="order_4" class="block">
                    <div class="item"></div>
                    <div class="none"> <%- include('../assets/icons/empty.ejs') %> </div>
                    <div class="options">
                        <button class="delete"> <%- include('../assets/icons/trash.ejs') %> </button>
                    </div>
                </div>
                <div id="order_5" class="block">
                    <div class="item"></div>
                    <div class="none"> <%- include('../assets/icons/empty.ejs') %> </div>
                    <div class="options">
                        <button class="delete"> <%- include('../assets/icons/trash.ejs') %> </button>
                    </div>
                </div>
                <div id="order_6" class="block">
                    <div class="item"></div>
                    <div class="none"> <%- include('../assets/icons/empty.ejs') %> </div>
                    <div class="options">
                        <button class="delete"> <%- include('../assets/icons/trash.ejs') %> </button>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <%- include('../profile/filter.ejs') %>
    <%- include('../profile/table.ejs') %>

    <script type="module" src="/homepage.js"></script>
</body>
</html>