<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/stylesheet/assets/variables.css">
    <link rel="stylesheet" href="/stylesheet/assets/navbar.css">

    <link rel="stylesheet" href="/stylesheet/profiles/filter.css">
    <link rel="stylesheet" href="/stylesheet/profiles/profiles.css">
    <link rel="stylesheet" href="/stylesheet/config/homePage/homePage.css">
    
    <title>Home Page</title>

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body {
            /* background-image: url('/images/MainPage.png'); */ /* remove */ 
            background-image: url('/images/back_10.png');
            background-size: 50%;
        }

        #homePages {
            display: flex;
            gap: 5px;
        }
        #homePages div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            width: 100px;
            height: 100px;
        }

        button.insertCard {
            cursor: pointer;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: inherit;
            background: rgba(0, 0, 0, .6);
            opacity: 0;
            transition: opacity .3s;
        }
        button.insertCard:hover {
            opacity: 1;
        }
        button.insertCard.hover {
            opacity: 1;
        }
        button.insertCard div {
            width: 50%;
            height: 50%;
            margin: auto;
        }


        .markHomePage {
            position: absolute;
            
            top: 0;
            left: 0;
            border-radius: inherit;
            border-top-right-radius: 0;
            border-bottom-left-radius: 0;
            /* border-bottom-right-radius: 0; */

            font-size: .7em;
            color: white;
            background-color: #00a7b0;
            padding: 1em .5em;
        }
        .markHomePage span {
            display: block;
            padding: .15em;
            background: #000540;
            font-size: 2em;
            box-sizing: content-box;
            height: 1em;
            width: 1em;
            text-align: center;
            line-height: 1em;
            border-radius: 10em;
        }
    </style>
</head>
<body>
    <%- include('../assets/navbar.ejs', { active: 'config/homePage', permission: permission }) %>
    <header class="top">
        <h2>Tela Inicial</h2>
        <h3>Promoções</h3>
    </header>
    <div id="notifications"></div>
    <main>
        <section class="homePage">
            <div id="homePages">
                <% for( let index = 0; index < 7; index++ ) { %>
                    <div id="order_<%= index %>" class="block">
                        <div class="item"></div>
                        <div class="none"> <%- include('../assets/icons/empty.ejs') %> </div>
                        <div class="options">
                            <button class="delete"> <%- include('../assets/icons/trash.ejs') %> </button>
                            <button class="add"> ADICIONAR </button>
                        </div>
                    </div>
                <% } %>
            </div>
        </section>
    </main>

    <%- include('../profile/filter.ejs') %>
    <%- include('../profile/table.ejs') %>

    <script type="module" src="/homepage.js"></script>
</body>
</html>