<footer>
    <div class="social">
        <a href="#"><%- include('icons/instagram.ejs') %></a>
        <a href="#"><%- include('icons/facebook.ejs') %></a>
        <a href="#"><%- include('icons/youtube.ejs') %></a>
        <a href="#"><%- include('icons/tiktok.ejs') %></a>
        <a href="#"><%- include('icons/kwai.ejs') %></a>
        <a href="#"><%- include('icons/twitter.ejs') %></a>
    </div>
    <div class="texts">
        <h3>&copy; <span>2023</span> - Zahir <br></h3>
        <h4>Todos os direitos reservados</h4>
    </div>
</footer>