<nav>
    <div class="nav desktop">
        <div class="logo"><a href="/"><img src="/images/icon.png" alt=""></a></div>
    
        <ul class="links">
            <li>
                <a 
                    class="item <% if (active == 'home') { %>active<% } %>"
                    href="/">
                    Home
                </a>
            </li>
            <li class="line"></li>
            <li>
                <a
                    class="item <% if (active == 'profiles') { %>active<% } %>"
                    href="/profiles">
                    Reviews
                </a>
            </li>
            <li class="line"></li>
            <li>
                <a
                    class="item <% if (active == 'anuncie') { %>active<% } %>"
                    href="#">
                    Anuncie
                </a>
            </li>
            <li class="line"></li>
            
            <li>
                <input type="checkbox" id="cb_desktop_config" style="display: none;">
                <label for="cb_desktop_config">
                    <a class="item dropdown">
                        Config
                        <%- include('./icons/arrow.ejs') %>
                    </a>
                </label>
                
                <ul class="content">
                    <li><a href="/config/profiles"> • Reviews</a></li>
                    <li><a href="/config/homepage"> • Home Page</a></li>
                </ul>
            </li>
        </ul>

        <div class="btns">
            <a href="#" class="login">Log in</a>
            <a href="#" class="register">Regristre-se</a>
        </div>
    </div>
    <div class="nav mobile">
        <div class="logo"><a href="/"><img src="/images/icon.png" alt=""></a></div>

        <label for="cb_sidebar" class="btn"><%- include('./icons/menu.ejs') %></label>
        <input id="cb_sidebar" type="checkbox" style="display: none;">
        <div class="sidebar">
            <div class="top">
                <div class="inside">
                    <h3> Menu bar </h3>
                    <label for="cb_sidebar" class="btn"><%- include('./icons/close.ejs') %></label>
                </div>
            </div>
            <ul class="links">
                <li><a href="/" class="home active">
                    <%- include('./icons/home.ejs') %>
                    • Home
                </a></li>
                <li><a href="/profiles" class="reviews">
                    <%- include('./icons/reviews.ejs') %>
                    • Reviews
                </a></li>
                <li><a href="/" class="anuncie">
                    <%- include('./icons/anuncie.ejs') %>
                    • Anuncie
                </a></li>
                <li>
                    <input type="checkbox" id="cb_sidebar_config" style="display: none;">
                    <label for="cb_sidebar_config">
                        <a class="config dropdown">
                            <%- include('./icons/config.ejs') %>
                            • Config
                            <%- include('./icons/arrow.ejs') %>
                        </a>
                    </label>
                    <ul class="content links">
                        <li><a href="/config/profiles" class="reviews">
                                <%- include('./icons/movieConfig.ejs') %>
                                • Reviews
                        </a></li>
                        <li><a href="/config/homepage" class="homepage">
                            <%- include('./icons/tripleStar.ejs') %>
                            • Destaques
                        </a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>