<div id="nav">
    <ul class="nav desktop">
        <li class="logo">
            <a href="/"> <img src="/images/icon.png" alt="Logo do website escrito zahir"> </a>
        </li>
        <li>
            <ul class="center">
                <li class="item active"><a class="name" href="/">Home</a></li>
                <li class="line"><div></div></li>
                <li class="item"><a class="name" href="/profiles">Reviews</a></li>
                <li class="line"><div></div></li>
                <li class="item"><a class="name" href="#">Anuncie</a></li>
                <li class="line"><div></div></li>
                <li class="item config">
                    <input type="checkbox" id="cb_config" style="display: none;">
                    <label for="cb_config"><a class="name">Config</a></label>
                    <ul class="content">
                        <li><a href="/config/profiles">Reviews</a></li>
                        <li><a href="/config/homepage">Home page</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <ul class="login">
                <li class="login"><a href="#">Log in</a></li>
                <li class="register"><a href="#">Registre-se</a></li>
            </ul>
        </li>
    </ul>
    <ul class="nav mobile">
        <li class="logo">
            <a href="/"><img src="/images/icon.png" alt="Logo do website escrito zahir"> </a>
        </li>
        <li class="menu">
            <input type="checkbox" id="cb_sidebar" style="display: none;">
            <label for="cb_sidebar">
                <%- include('./icons/menu.ejs') %>
            </label>
            <div class="sidebar">
                <div class="top">
                    <h3> Menu bar </h3>
                    <label for="cb_sidebar">
                        <%- include('./icons/close.ejs') %>
                    </label>
                </div>
                <div class="items">
                    <a href="#" class="home active">
                        <%- include('./icons/home.ejs') %>
                        • Home
                    </a>
                    <a href="#" class="reviews">
                        <%- include('./icons/reviews.ejs') %>
                        • Reviews
                    </a>
                    <a href="#" class="anuncie">
                        <%- include('./icons/anuncie.ejs') %>
                        • Anuncie
                    </a>
                    <a href="#" class="config">
                        <%- include('./icons/config.ejs') %>
                        • Config
                    </a>
                </div>
            </div>
        </li>
    </ul>
</div>