<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheet/flickity.css" media="screen">
    <!-- <meta http-equiv="refresh" content="2" /> -->
    
    <link rel="stylesheet" href="stylesheet/assets/navbar.css">
    <link rel="stylesheet" href="stylesheet/assets/carousel.css">
    <link rel="stylesheet" href="stylesheet/assets/footer.css">
    <link rel="stylesheet" href="stylesheet/index/infos.css">
    <link rel="stylesheet" href="stylesheet/index/reviews.css">

    <title>Home page</title>

    <style>
        * {
            margin: 0;
            padding: 0;
        }

        /* scroll bar */
        body::-webkit-scrollbar {  width: 12px; }
        body::-webkit-scrollbar-track { background: var(--var4); }

        body::-webkit-scrollbar-thumb {
            background-color: var(--var1);
            border-radius: 200px;
            border: 2px solid var(--var4);
        }
        section:not(:nth-child(1)) { margin-top: 50px; }

        body {
            /* background-image: url('/images/MainPage.png'); */ /* remove */ 
            background-image: url('/images/back_10.png');
            /* background-size: 50%; */
        }
        @media ( max-width: 1000px ) {
            body { background-size: 100%; }
        }

        .loading {
            background-image: linear-gradient(90deg,hsla(0,0%,98.8%,0),#fcfcfc 50%,hsla(0,0%,98.8%,0)),linear-gradient(#f8f8f8 100%,transparent 0);
            background-size: 300px 100%,100% 100%;
            background-position: -160% 0,0 0;
            background-repeat: no-repeat;
            animation: loading 1.5s infinite;
        }
    </style>
</head>
<body>
    <%- include('assets/navbar.ejs') %>
    <section id="carousel">
        <div class="top">
            <h1> <span>Promoções</span> da <br> semana </h1>
        </div>
        <%- include('assets/carousel.ejs') %>
    </section>
    <section id="infos">
        <div class="left">
            <img src="/images/index/zahir.png" alt="Imagem do zahir comendo um hámburguer e um fundo em amarelo">
            <p class="text">Oi, meu nome é Ramon Sanmir, tenho 34 anos e moro em Fortaleza, desde que eu era muito novo já gostava do meio artistico e internet no geral, com 12 anos fiz um canal no YouTube com amigos e depois comecei a gravar vídeos para as redes sociais, no tempo sem muito apoio e por ser novo acabei sem dar continuidade. Já vendi dindim alcoólico na praia para conseguir comprar meu computador e iniciar a vida na internet, tive alguns planos atrasados pela pandemia e comecei a fazer transmissões na twitch, após esse período tendo como única fonte de renda os jogos e streams, comecei a fazer conteúdo de experiências e estou me reiventando a cada dia.</p>
            <div class="back"></div>
        </div>
        <div class="rigth">
            <img src="/images/index/panela.png" alt="Imagem de uma panela com frango assado">
        </div>
    </section>
    <section id="reviews">
        <div class="top">
            <a href="/profiles">
                Últimas reviews
                <div class="stars">
                    <%- include('./assets/icons/star.ejs') %>
                    <%- include('./assets/icons/star.ejs') %>
                    <%- include('./assets/icons/star.ejs') %>
                    <%- include('./assets/icons/star.ejs') %>
                    <%- include('./assets/icons/star.ejs') %>
                </div>
            </a>
        </div>
        <div class="bottom">
            <div class="movie loading">
                <!-- <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@dozahir/video/7118001317632560389" data-video-id="7118001317632560389" style="max-width: 605px;min-width: 325px;margin: 0;">
                    <section>
                        <a target="_blank" title="@dozahir" href="https://www.tiktok.com/@dozahir?refer=embed"> @dozahir </a>
                        Rodizio de carne em fortaleza sem pagar caro, o que voces acharam? Quem você marcar aqui vai ter que te levar pra comer lá!
                        <a title="fy" target="_blank" href="https://www.tiktok.com/tag/fy?refer=embed">#fy</a>
                        <a title="fyp" target="_blank" href="https://www.tiktok.com/tag/fyp?refer=embed">#fyp</a>
                        <a title="comida" target="_blank" href="https://www.tiktok.com/tag/comida?refer=embed">#comida</a>
                        <a title="food" target="_blank" href="https://www.tiktok.com/tag/food?refer=embed">#food</a>
                        <a title="dozahir" target="_blank" href="https://www.tiktok.com/tag/dozahir?refer=embed">#dozahir</a>
                        <a title="restaurante" target="_blank" href="https://www.tiktok.com/tag/restaurante?refer=embed">#restaurante</a>
                        <a title="rodizio" target="_blank" href="https://www.tiktok.com/tag/rodizio?refer=embed">#rodizio</a>
                        <a target="_blank" title="♬ Love You So - The King Khan &#38; BBQ Show" href="https://www.tiktok.com/music/Love-You-So-6728562975734515713?refer=embed">♬ Love You So - The King Khan &#38; BBQ Show</a>
                    </section>
                </blockquote>
                <script async src="https://www.tiktok.com/embed.js"></script>  -->
            </div>
            <div class="movie loading">
                <!-- <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@dozahir/video/7248272489179057414" data-video-id="7248272489179057414" style="max-width: 605px;min-width: 325px;margin: 0;" > <section> <a target="_blank" title="@dozahir" href="https://www.tiktok.com/@dozahir?refer=embed">@dozahir</a> Rodizio de petisco com mini hamburguer em fortaleza, já marca quem vai contigo! (Acontece atualmente apenas aos domingos, das 16h até as 21h) 🤑 Valores: ➡️ Rodizio de Petisco R$ 59,97 ➡️ Adicional de mini hamburguer R$ 19,97 📍 Localização: R. Gustavo Sampaio, 800 - Parquelândia, Fortaleza - CE.    <a title="dozahir" target="_blank" href="https://www.tiktok.com/tag/dozahir?refer=embed">#dozahir</a> <a title="rodizios" target="_blank" href="https://www.tiktok.com/tag/rodizios?refer=embed">#rodizios</a> <a title="petisco" target="_blank" href="https://www.tiktok.com/tag/petisco?refer=embed">#petisco</a> <a target="_blank" title="♬ som original - Zahir" href="https://www.tiktok.com/music/som-original-7248272501196016390?refer=embed">♬ som original - Zahir</a> </section> </blockquote> <script async src="https://www.tiktok.com/embed.js"></script> -->
            </div>
            <div class="movie loading">
                <!-- <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@dozahir/video/7244561591700606214" data-video-id="7244561591700606214" style="max-width: 605px;min-width: 325px;margin: 0;" > <section> <a target="_blank" title="@dozahir" href="https://www.tiktok.com/@dozahir?refer=embed">@dozahir</a> Restaurante em Juazeiro do norte pra aproveitar bastante. Já salva o video pra próxima viagem! 🤑 Valores: ➡️ Tripa suina R$ 25 ➡️ Feijão Verde R$ 25 ➡️ Ova de peixe R$ 29 ➡️ Carne de sol com macaxeira R$ 40,80 ➡️ Tornedor ao vinho R$ 48,90 📍 Localização: R. Dra Angela Albuquerque, 103 - Lagoa Seca, Juazeiro do Norte - CE.    <a title="dozahir" target="_blank" href="https://www.tiktok.com/tag/dozahir?refer=embed">#dozahir</a> <a title="juazeiro" target="_blank" href="https://www.tiktok.com/tag/juazeiro?refer=embed">#juazeiro</a> <a target="_blank" title="♬ som original - Zahir" href="https://www.tiktok.com/music/som-original-7244561617656597253?refer=embed">♬ som original - Zahir</a> </section> </blockquote> <script async src="https://www.tiktok.com/embed.js"></script> -->
            </div>
            <div class="movie loading">
                <!-- <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@dozahir/video/7230456168827702533" data-video-id="7230456168827702533" style="max-width: 605px;min-width: 325px;margin: 0;"><section><a target="_blank" title="@dozahir" href="https://www.tiktok.com/@dozahir?refer=embed">@dozahir</a> Conhecendo mais um restaurante diferentão e pagando bem pouquinho, hoje foi dia de Johnny Rockets, já marca alguém aqui que vai ficar te devendo um rolezão! 🤑 Valores: Tem oferta do barato coletivo tanto no site quanto app a partir de R$ 25,90, os nossos pedidos foram ➡️ Rocket Parmegiana de R$ 47 por R$ 37,90 ➡️ BBQ Johnny Ribs de R$ 63 por R$ 49,90 ➡️ Mlkshake premium R$ 35 ➡️ Drink  roller skate  R$ 32,90 ➡️ Drink Unicorn R$ 36,90 ➡️ Drink banheira R$ 36,90 📍 Localização: Shopping Iguatemi Fortaleza. <a title="dozahir" target="_blank" href="https://www.tiktok.com/tag/dozahir?refer=embed">#dozahir</a> <a title="restaurantes" target="_blank" href="https://www.tiktok.com/tag/restaurantes?refer=embed">#restaurantes</a> <a target="_blank" title="♬ som original - Zahir" href="https://www.tiktok.com/music/som-original-7230456156065319686?refer=embed">♬ som original - Zahir</a> </section> </blockquote> <script async src="https://www.tiktok.com/embed.js"></script> -->
            </div>
        </div>
    </section>
    <%- include('assets/footer.ejs') %>

<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script>
    function mainFlickity(flkty) {
        let elements = flkty.cells.map(e => e.element)

        elements.forEach((e) => {
            e.classList.remove('left')
            e.classList.remove('rigth')
        })
        elements.forEach((e, i) => {
            // Center
            e.style.transform = e.style.transform.split(' ')[0] + ' translateY(-50%)'
            e.style.top = '50%'

            // set Left and Rigth
            if (e.classList.contains('is-selected') && elements.length > 1) {
                var prev = i-1
                var next = i+1

                if (prev < 0) { prev = prev + elements.length }
                if (next > elements.length-1) next = next-elements.length

                elements[prev].classList.add('left')
                elements[next].classList.add('rigth')
            }
        })
    }

    var flkty = new Flickity('.js-flickity', {
      wrapAround: true,
      setGallerySize: false,
        on: {
        ready: function () {  mainFlickity(this) }
      }
    });
    
  
    flkty.on( 'scroll', function() {mainFlickity(flkty)});
</script>
<script type="module">
    import api from '/helper/Api.js'

    class Carrosel {
        constructor(base) {
            this.carousel = base
            this.base = base.querySelector('.carousel')

            this.build()
        }
        getTemplate(data, i) {
            return `
            <div class="card">
                <img src="/images/carousel/${i+1}.png" alt="">
                <div class="elements">
                    <div class="left">
                    <span class="name">${data.name}</span>
                    <span class="local">RJ-Rio de Janeiro</span>
                    </div>
                    <div class="right">
                        <a href="/profile?id=${data._id}">Ver Review</a>
                    </div>
                </div>
            </div>
            `
        }
        async build() {
            let data = await api.homePage.getAll()
            this.clear()
            let elements = []

            data.forEach((e, i) => {
                let cell = this.newElement(this.getTemplate(e.profile, i))
                elements.push(cell)
            });
            if (elements.length == 0) this.carousel.style.display = 'none'
            flkty.append(elements)
            flkty.select( 0, false, true );
        }
        clear() { 
            flkty.remove(flkty.cells.map(e => e.element))
        }

        newElement(content) {
            let cell = document.createElement('div')
            cell.classList.add('gallery-cell', 'js-gallery-cell')
            cell.innerHTML = content
            return cell
        }
    }

    const eCarrosel = document.querySelector('#carousel')
    new Carrosel(eCarrosel)

</script>
</body>
</html>