<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheet/flickity.css" media="screen">
    <!-- <meta http-equiv="refresh" content="2" /> -->

    <style>
        /* Variables Colors */
        :root {
            --var1: rgba(113, 82, 160, 1);
            --var2: rgba(203, 87, 87, 1);
            --var3: rgba(40, 171, 201, 1);
            --var4: rgba(237, 171, 74, 1);

            --active: rgba(40, 171, 201, .9);
        }
    </style>
    <link rel="stylesheet" href="/stylesheet/assets/navbar.css">
    <link rel="stylesheet" href="stylesheet/assets/carousel.css">
    <link rel="stylesheet" href="stylesheet/assets/footer.css">
    <link rel="stylesheet" href="stylesheet/index/infos.css">
    <link rel="stylesheet" href="stylesheet/index/reviews.css">

    <title>Home page</title>

    <style>
        * {
            margin: 0;
            padding: 0;
        }

        /* scroll bar */
        body::-webkit-scrollbar {  width: 12px; }
        body::-webkit-scrollbar-track { background: var(--var4); }

        body::-webkit-scrollbar-thumb {
            background-color: var(--var1);
            border-radius: 200px;
            border: 2px solid var(--var4);
        }
        section:not(:nth-child(1)) { margin-top: 50px; }

        body {
            /* background-image: url('/images/MainPage.png'); */ /* remove */ 
            background-image: url('/images/back_10.png');
            background-size: 50%;
        }
        @media ( max-width: 1000px ) {
            body { background-size: 100%; }
        }

        .loading {
            background-image: linear-gradient(90deg,hsla(0,0%,98.8%,0),#fcfcfc 50%,hsla(0,0%,98.8%,0)),linear-gradient(#f8f8f8 100%,transparent 0);
            background-size: 300px 100%,100% 100%;
            background-position: -160% 0,0 0;
            background-repeat: no-repeat;
            animation: loading 1.5s infinite;
        }
    </style>
</head>
<body>
    <%- include('assets/navbar.ejs') %>
    <section id="carousel">
        <div class="top">
            <h1> <span>Promoções</span> da <br> semana </h1>
        </div>
        <%- include('assets/carousel.ejs') %>
    </section>
    <section id="infos">
        <div class="left">
            <img src="/images/index/zahir.png" alt="Imagem do zahir comendo um hámburguer e um fundo em amarelo">
            <p class="text">Oi, meu nome é Ramon Sanmir, tenho 34 anos e moro em Fortaleza, desde que eu era muito novo já gostava do meio artistico e internet no geral, com 12 anos fiz um canal no YouTube com amigos e depois comecei a gravar vídeos para as redes sociais, no tempo sem muito apoio e por ser novo acabei sem dar continuidade. Já vendi dindim alcoólico na praia para conseguir comprar meu computador e iniciar a vida na internet, tive alguns planos atrasados pela pandemia e comecei a fazer transmissões na twitch, após esse período tendo como única fonte de renda os jogos e streams, comecei a fazer conteúdo de experiências e estou me reiventando a cada dia.</p>
            <div class="back"></div>
        </div>
        <div class="rigth">
            <img src="/images/index/panela.png" alt="Imagem de uma panela com frango assado">
        </div>
    </section>
    <section id="reviews">
        <div class="top">
            <a href="/profiles">
                Últimas reviews
                <div class="stars">
                    <%- include('./assets/icons/star.ejs') %>
                    <%- include('./assets/icons/star.ejs') %>
                    <%- include('./assets/icons/star.ejs') %>
                    <%- include('./assets/icons/star.ejs') %>
                    <%- include('./assets/icons/star.ejs') %>
                </div>
            </a>
        </div>
        <div class="bottom">
            <div class="movie loading">
                <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-permalink="https://www.instagram.com/reel/CtrUSo3NaUT/?utm_source=ig_embed&amp;utm_campaign=loading" data-instgrm-version="14" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:16px;"> <a href="https://www.instagram.com/reel/CtrUSo3NaUT/?utm_source=ig_embed&amp;utm_campaign=loading" style=" background:#FFFFFF; line-height:0; padding:0 0; text-align:center; text-decoration:none; width:100%;" target="_blank"> <div style=" display: flex; flex-direction: row; align-items: center;"> <div style="background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 40px; margin-right: 14px; width: 40px;"></div> <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center;"> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 100px;"></div> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 60px;"></div></div></div><div style="padding: 19% 0;"></div> <div style="display:block; height:50px; margin:0 auto 12px; width:50px;"><svg width="50px" height="50px" viewBox="0 0 60 60" version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-511.000000, -20.000000)" fill="#000000"><g><path d="M556.869,30.41 C554.814,30.41 553.148,32.076 553.148,34.131 C553.148,36.186 554.814,37.852 556.869,37.852 C558.924,37.852 560.59,36.186 560.59,34.131 C560.59,32.076 558.924,30.41 556.869,30.41 M541,60.657 C535.114,60.657 530.342,55.887 530.342,50 C530.342,44.114 535.114,39.342 541,39.342 C546.887,39.342 551.658,44.114 551.658,50 C551.658,55.887 546.887,60.657 541,60.657 M541,33.886 C532.1,33.886 524.886,41.1 524.886,50 C524.886,58.899 532.1,66.113 541,66.113 C549.9,66.113 557.115,58.899 557.115,50 C557.115,41.1 549.9,33.886 541,33.886 M565.378,62.101 C565.244,65.022 564.756,66.606 564.346,67.663 C563.803,69.06 563.154,70.057 562.106,71.106 C561.058,72.155 560.06,72.803 558.662,73.347 C557.607,73.757 556.021,74.244 553.102,74.378 C549.944,74.521 548.997,74.552 541,74.552 C533.003,74.552 532.056,74.521 528.898,74.378 C525.979,74.244 524.393,73.757 523.338,73.347 C521.94,72.803 520.942,72.155 519.894,71.106 C518.846,70.057 518.197,69.06 517.654,67.663 C517.244,66.606 516.755,65.022 516.623,62.101 C516.479,58.943 516.448,57.996 516.448,50 C516.448,42.003 516.479,41.056 516.623,37.899 C516.755,34.978 517.244,33.391 517.654,32.338 C518.197,30.938 518.846,29.942 519.894,28.894 C520.942,27.846 521.94,27.196 523.338,26.654 C524.393,26.244 525.979,25.756 528.898,25.623 C532.057,25.479 533.004,25.448 541,25.448 C548.997,25.448 549.943,25.479 553.102,25.623 C556.021,25.756 557.607,26.244 558.662,26.654 C560.06,27.196 561.058,27.846 562.106,28.894 C563.154,29.942 563.803,30.938 564.346,32.338 C564.756,33.391 565.244,34.978 565.378,37.899 C565.522,41.056 565.552,42.003 565.552,50 C565.552,57.996 565.522,58.943 565.378,62.101 M570.82,37.631 C570.674,34.438 570.167,32.258 569.425,30.349 C568.659,28.377 567.633,26.702 565.965,25.035 C564.297,23.368 562.623,22.342 560.652,21.575 C558.743,20.834 556.562,20.326 553.369,20.18 C550.169,20.033 549.148,20 541,20 C532.853,20 531.831,20.033 528.631,20.18 C525.438,20.326 523.257,20.834 521.349,21.575 C519.376,22.342 517.703,23.368 516.035,25.035 C514.368,26.702 513.342,28.377 512.574,30.349 C511.834,32.258 511.326,34.438 511.181,37.631 C511.035,40.831 511,41.851 511,50 C511,58.147 511.035,59.17 511.181,62.369 C511.326,65.562 511.834,67.743 512.574,69.651 C513.342,71.625 514.368,73.296 516.035,74.965 C517.703,76.634 519.376,77.658 521.349,78.425 C523.257,79.167 525.438,79.673 528.631,79.82 C531.831,79.965 532.853,80.001 541,80.001 C549.148,80.001 550.169,79.965 553.369,79.82 C556.562,79.673 558.743,79.167 560.652,78.425 C562.623,77.658 564.297,76.634 565.965,74.965 C567.633,73.296 568.659,71.625 569.425,69.651 C570.167,67.743 570.674,65.562 570.82,62.369 C570.966,59.17 571,58.147 571,50 C571,41.851 570.966,40.831 570.82,37.631"></path></g></g></g></svg></div><div style="padding-top: 8px;"> <div style=" color:#3897f0; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:550; line-height:18px;">Ver essa foto no Instagram</div></div><div style="padding: 12.5% 0;"></div> <div style="display: flex; flex-direction: row; margin-bottom: 14px; align-items: center;"><div> <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(0px) translateY(7px);"></div> <div style="background-color: #F4F4F4; height: 12.5px; transform: rotate(-45deg) translateX(3px) translateY(1px); width: 12.5px; flex-grow: 0; margin-right: 14px; margin-left: 2px;"></div> <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(9px) translateY(-18px);"></div></div><div style="margin-left: 8px;"> <div style=" background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 20px; width: 20px;"></div> <div style=" width: 0; height: 0; border-top: 2px solid transparent; border-left: 6px solid #f4f4f4; border-bottom: 2px solid transparent; transform: translateX(16px) translateY(-4px) rotate(30deg)"></div></div><div style="margin-left: auto;"> <div style=" width: 0px; border-top: 8px solid #F4F4F4; border-right: 8px solid transparent; transform: translateY(16px);"></div> <div style=" background-color: #F4F4F4; flex-grow: 0; height: 12px; width: 16px; transform: translateY(-4px);"></div> <div style=" width: 0; height: 0; border-top: 8px solid #F4F4F4; border-left: 8px solid transparent; transform: translateY(-4px) translateX(8px);"></div></div></div> <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center; margin-bottom: 24px;"> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 224px;"></div> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 144px;"></div></div></a><p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"><a href="https://www.instagram.com/reel/CtrUSo3NaUT/?utm_source=ig_embed&amp;utm_campaign=loading" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_blank">Uma publicação compartilhada por Zahir (@dozahir)</a></p></div></blockquote> <script async src="//www.instagram.com/embed.js"></script>
                <!-- <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@dozahir/video/7118001317632560389" data-video-id="7118001317632560389" style="max-width: 605px;min-width: 325px;margin: 0;">
                    <section>
                        <a target="_blank" title="@dozahir" href="https://www.tiktok.com/@dozahir?refer=embed"> @dozahir </a>
                        Rodizio de carne em fortaleza sem pagar caro, o que voces acharam? Quem você marcar aqui vai ter que te levar pra comer lá!
                        <a title="fy" target="_blank" href="https://www.tiktok.com/tag/fy?refer=embed">#fy</a>
                        <a title="fyp" target="_blank" href="https://www.tiktok.com/tag/fyp?refer=embed">#fyp</a>
                        <a title="comida" target="_blank" href="https://www.tiktok.com/tag/comida?refer=embed">#comida</a>
                        <a title="food" target="_blank" href="https://www.tiktok.com/tag/food?refer=embed">#food</a>
                        <a title="dozahir" target="_blank" href="https://www.tiktok.com/tag/dozahir?refer=embed">#dozahir</a>
                        <a title="restaurante" target="_blank" href="https://www.tiktok.com/tag/restaurante?refer=embed">#restaurante</a>
                        <a title="rodizio" target="_blank" href="https://www.tiktok.com/tag/rodizio?refer=embed">#rodizio</a>
                        <a target="_blank" title="♬ Love You So - The King Khan &#38; BBQ Show" href="https://www.tiktok.com/music/Love-You-So-6728562975734515713?refer=embed">♬ Love You So - The King Khan &#38; BBQ Show</a>
                    </section>
                </blockquote>
                <script async src="https://www.tiktok.com/embed.js"></script>  -->
            </div>
            <div class="movie loading">
                <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/reel/Ct4LQCytzZw/?utm_source=ig_embed&amp;utm_campaign=loading" data-instgrm-version="14" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:16px;"> <a href="https://www.instagram.com/reel/Ct4LQCytzZw/?utm_source=ig_embed&amp;utm_campaign=loading" style=" background:#FFFFFF; line-height:0; padding:0 0; text-align:center; text-decoration:none; width:100%;" target="_blank"> <div style=" display: flex; flex-direction: row; align-items: center;"> <div style="background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 40px; margin-right: 14px; width: 40px;"></div> <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center;"> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 100px;"></div> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 60px;"></div></div></div><div style="padding: 19% 0;"></div> <div style="display:block; height:50px; margin:0 auto 12px; width:50px;"><svg width="50px" height="50px" viewBox="0 0 60 60" version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-511.000000, -20.000000)" fill="#000000"><g><path d="M556.869,30.41 C554.814,30.41 553.148,32.076 553.148,34.131 C553.148,36.186 554.814,37.852 556.869,37.852 C558.924,37.852 560.59,36.186 560.59,34.131 C560.59,32.076 558.924,30.41 556.869,30.41 M541,60.657 C535.114,60.657 530.342,55.887 530.342,50 C530.342,44.114 535.114,39.342 541,39.342 C546.887,39.342 551.658,44.114 551.658,50 C551.658,55.887 546.887,60.657 541,60.657 M541,33.886 C532.1,33.886 524.886,41.1 524.886,50 C524.886,58.899 532.1,66.113 541,66.113 C549.9,66.113 557.115,58.899 557.115,50 C557.115,41.1 549.9,33.886 541,33.886 M565.378,62.101 C565.244,65.022 564.756,66.606 564.346,67.663 C563.803,69.06 563.154,70.057 562.106,71.106 C561.058,72.155 560.06,72.803 558.662,73.347 C557.607,73.757 556.021,74.244 553.102,74.378 C549.944,74.521 548.997,74.552 541,74.552 C533.003,74.552 532.056,74.521 528.898,74.378 C525.979,74.244 524.393,73.757 523.338,73.347 C521.94,72.803 520.942,72.155 519.894,71.106 C518.846,70.057 518.197,69.06 517.654,67.663 C517.244,66.606 516.755,65.022 516.623,62.101 C516.479,58.943 516.448,57.996 516.448,50 C516.448,42.003 516.479,41.056 516.623,37.899 C516.755,34.978 517.244,33.391 517.654,32.338 C518.197,30.938 518.846,29.942 519.894,28.894 C520.942,27.846 521.94,27.196 523.338,26.654 C524.393,26.244 525.979,25.756 528.898,25.623 C532.057,25.479 533.004,25.448 541,25.448 C548.997,25.448 549.943,25.479 553.102,25.623 C556.021,25.756 557.607,26.244 558.662,26.654 C560.06,27.196 561.058,27.846 562.106,28.894 C563.154,29.942 563.803,30.938 564.346,32.338 C564.756,33.391 565.244,34.978 565.378,37.899 C565.522,41.056 565.552,42.003 565.552,50 C565.552,57.996 565.522,58.943 565.378,62.101 M570.82,37.631 C570.674,34.438 570.167,32.258 569.425,30.349 C568.659,28.377 567.633,26.702 565.965,25.035 C564.297,23.368 562.623,22.342 560.652,21.575 C558.743,20.834 556.562,20.326 553.369,20.18 C550.169,20.033 549.148,20 541,20 C532.853,20 531.831,20.033 528.631,20.18 C525.438,20.326 523.257,20.834 521.349,21.575 C519.376,22.342 517.703,23.368 516.035,25.035 C514.368,26.702 513.342,28.377 512.574,30.349 C511.834,32.258 511.326,34.438 511.181,37.631 C511.035,40.831 511,41.851 511,50 C511,58.147 511.035,59.17 511.181,62.369 C511.326,65.562 511.834,67.743 512.574,69.651 C513.342,71.625 514.368,73.296 516.035,74.965 C517.703,76.634 519.376,77.658 521.349,78.425 C523.257,79.167 525.438,79.673 528.631,79.82 C531.831,79.965 532.853,80.001 541,80.001 C549.148,80.001 550.169,79.965 553.369,79.82 C556.562,79.673 558.743,79.167 560.652,78.425 C562.623,77.658 564.297,76.634 565.965,74.965 C567.633,73.296 568.659,71.625 569.425,69.651 C570.167,67.743 570.674,65.562 570.82,62.369 C570.966,59.17 571,58.147 571,50 C571,41.851 570.966,40.831 570.82,37.631"></path></g></g></g></svg></div><div style="padding-top: 8px;"> <div style=" color:#3897f0; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:550; line-height:18px;">Ver essa foto no Instagram</div></div><div style="padding: 12.5% 0;"></div> <div style="display: flex; flex-direction: row; margin-bottom: 14px; align-items: center;"><div> <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(0px) translateY(7px);"></div> <div style="background-color: #F4F4F4; height: 12.5px; transform: rotate(-45deg) translateX(3px) translateY(1px); width: 12.5px; flex-grow: 0; margin-right: 14px; margin-left: 2px;"></div> <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(9px) translateY(-18px);"></div></div><div style="margin-left: 8px;"> <div style=" background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 20px; width: 20px;"></div> <div style=" width: 0; height: 0; border-top: 2px solid transparent; border-left: 6px solid #f4f4f4; border-bottom: 2px solid transparent; transform: translateX(16px) translateY(-4px) rotate(30deg)"></div></div><div style="margin-left: auto;"> <div style=" width: 0px; border-top: 8px solid #F4F4F4; border-right: 8px solid transparent; transform: translateY(16px);"></div> <div style=" background-color: #F4F4F4; flex-grow: 0; height: 12px; width: 16px; transform: translateY(-4px);"></div> <div style=" width: 0; height: 0; border-top: 8px solid #F4F4F4; border-left: 8px solid transparent; transform: translateY(-4px) translateX(8px);"></div></div></div> <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center; margin-bottom: 24px;"> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 224px;"></div> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 144px;"></div></div></a><p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"><a href="https://www.instagram.com/reel/Ct4LQCytzZw/?utm_source=ig_embed&amp;utm_campaign=loading" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_blank">Uma publicação compartilhada por Zahir (@dozahir)</a></p></div></blockquote> <script async src="//www.instagram.com/embed.js"></script>
                <!-- <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@dozahir/video/7248272489179057414" data-video-id="7248272489179057414" style="max-width: 605px;min-width: 325px;margin: 0;" > <section> <a target="_blank" title="@dozahir" href="https://www.tiktok.com/@dozahir?refer=embed">@dozahir</a> Rodizio de petisco com mini hamburguer em fortaleza, já marca quem vai contigo! (Acontece atualmente apenas aos domingos, das 16h até as 21h) 🤑 Valores: ➡️ Rodizio de Petisco R$ 59,97 ➡️ Adicional de mini hamburguer R$ 19,97 📍 Localização: R. Gustavo Sampaio, 800 - Parquelândia, Fortaleza - CE.    <a title="dozahir" target="_blank" href="https://www.tiktok.com/tag/dozahir?refer=embed">#dozahir</a> <a title="rodizios" target="_blank" href="https://www.tiktok.com/tag/rodizios?refer=embed">#rodizios</a> <a title="petisco" target="_blank" href="https://www.tiktok.com/tag/petisco?refer=embed">#petisco</a> <a target="_blank" title="♬ som original - Zahir" href="https://www.tiktok.com/music/som-original-7248272501196016390?refer=embed">♬ som original - Zahir</a> </section> </blockquote> <script async src="https://www.tiktok.com/embed.js"></script> -->
            </div>
            <div class="movie loading">
                <!-- <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@dozahir/video/7244561591700606214" data-video-id="7244561591700606214" style="max-width: 605px;min-width: 325px;margin: 0;" > <section> <a target="_blank" title="@dozahir" href="https://www.tiktok.com/@dozahir?refer=embed">@dozahir</a> Restaurante em Juazeiro do norte pra aproveitar bastante. Já salva o video pra próxima viagem! 🤑 Valores: ➡️ Tripa suina R$ 25 ➡️ Feijão Verde R$ 25 ➡️ Ova de peixe R$ 29 ➡️ Carne de sol com macaxeira R$ 40,80 ➡️ Tornedor ao vinho R$ 48,90 📍 Localização: R. Dra Angela Albuquerque, 103 - Lagoa Seca, Juazeiro do Norte - CE.    <a title="dozahir" target="_blank" href="https://www.tiktok.com/tag/dozahir?refer=embed">#dozahir</a> <a title="juazeiro" target="_blank" href="https://www.tiktok.com/tag/juazeiro?refer=embed">#juazeiro</a> <a target="_blank" title="♬ som original - Zahir" href="https://www.tiktok.com/music/som-original-7244561617656597253?refer=embed">♬ som original - Zahir</a> </section> </blockquote> <script async src="https://www.tiktok.com/embed.js"></script> -->
            </div>
            <div class="movie loading">
                <!-- <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@dozahir/video/7230456168827702533" data-video-id="7230456168827702533" style="max-width: 605px;min-width: 325px;margin: 0;"><section><a target="_blank" title="@dozahir" href="https://www.tiktok.com/@dozahir?refer=embed">@dozahir</a> Conhecendo mais um restaurante diferentão e pagando bem pouquinho, hoje foi dia de Johnny Rockets, já marca alguém aqui que vai ficar te devendo um rolezão! 🤑 Valores: Tem oferta do barato coletivo tanto no site quanto app a partir de R$ 25,90, os nossos pedidos foram ➡️ Rocket Parmegiana de R$ 47 por R$ 37,90 ➡️ BBQ Johnny Ribs de R$ 63 por R$ 49,90 ➡️ Mlkshake premium R$ 35 ➡️ Drink  roller skate  R$ 32,90 ➡️ Drink Unicorn R$ 36,90 ➡️ Drink banheira R$ 36,90 📍 Localização: Shopping Iguatemi Fortaleza. <a title="dozahir" target="_blank" href="https://www.tiktok.com/tag/dozahir?refer=embed">#dozahir</a> <a title="restaurantes" target="_blank" href="https://www.tiktok.com/tag/restaurantes?refer=embed">#restaurantes</a> <a target="_blank" title="♬ som original - Zahir" href="https://www.tiktok.com/music/som-original-7230456156065319686?refer=embed">♬ som original - Zahir</a> </section> </blockquote> <script async src="https://www.tiktok.com/embed.js"></script> -->
            </div>
        </div>
    </section>
    <%- include('assets/footer.ejs') %>

<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script>
    function mainFlickity(flkty) {
        let elements = flkty.cells.map(e => e.element)

        elements.forEach((e) => {
            e.classList.remove('left')
            e.classList.remove('rigth')
        })
        elements.forEach((e, i) => {
            // Center
            e.style.transform = e.style.transform.split(' ')[0] + ' translateY(-50%)'
            e.style.top = '50%'

            // set Left and Rigth
            if (e.classList.contains('is-selected') && elements.length > 1) {
                var prev = i-1
                var next = i+1

                if (prev < 0) { prev = prev + elements.length }
                if (next > elements.length-1) next = next-elements.length

                elements[prev].classList.add('left')
                elements[next].classList.add('rigth')
            }
        })
    }

    var flkty = new Flickity('.js-flickity', {
      wrapAround: true,
      setGallerySize: false,
        on: {
        ready: function () {  mainFlickity(this) }
      }
    });
    
  
    flkty.on( 'scroll', function() {mainFlickity(flkty)});
</script>
<script type="module">
    import api from '/helper/Api.js'

    class Carrosel {
        constructor(base) {
            this.carousel = base
            this.base = base.querySelector('.carousel')

            this.build()
        }
        getTemplate(data, i) {
            return `
            <div class="card">
                <img src="/images/carousel/${i+1}.png" alt="">
                <div class="elements">
                    <div class="left">
                    <span class="name">${data.name}</span>
                    <span class="local">RJ-Rio de Janeiro</span>
                    </div>
                    <div class="right">
                        <a href="/profile?id=${data._id}">Ver Review</a>
                    </div>
                </div>
            </div>
            `
        }
        async build() {
            let data = await api.homePage.getAll()
            this.clear()
            let elements = []

            data.forEach((e, i) => {
                let cell = this.newElement(this.getTemplate(e.profile, i))
                elements.push(cell)
            });
            if (elements.length == 0) this.carousel.style.display = 'none'
            flkty.append(elements)
            flkty.select( 0, false, true );
        }
        clear() { 
            flkty.remove(flkty.cells.map(e => e.element))
        }

        newElement(content) {
            let cell = document.createElement('div')
            cell.classList.add('gallery-cell', 'js-gallery-cell')
            cell.innerHTML = content
            return cell
        }
    }

    const eCarrosel = document.querySelector('#carousel')
    new Carrosel(eCarrosel)

</script>
</body>
</html>