<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheet/flickity.css" media="screen">
    <link rel="icon" type="image/x-icon" href="/manifest/favicon.ico">
    <link rel="manifest" href="/manifest.webmanifest" />
    <meta name="theme-color" content="#7152a0"/>

    <!-- <meta http-equiv="refresh" content="2" /> -->

    <style>
        * {
            padding: 0;
            margin: 0;
        }
    </style>
    <link rel="stylesheet" href="/stylesheet/assets/variables.css">
    <link rel="stylesheet" href="/stylesheet/assets/navbar.css">
    <link rel="stylesheet" href="/stylesheet/assets/carousel.css">
    <link rel="stylesheet" href="/stylesheet/assets/footer.css">
    
    <link rel="stylesheet" href="/stylesheet/index/infos.css">
    <link rel="stylesheet" href="/stylesheet/index/reviews.css">

    <title>Home page</title>

    <style>
        * {
            margin: 0;
            padding: 0;
        }
        html, body { min-width: 320px; }
        body {
            /* background-image: url('/images/MainPage.png'); */ /* remove */ 
            background-image: url('/images/back_10.png');
            background-size: 50%;
        }
        @media ( max-width: 1000px ) {
            body { background-size: 100%; }
        }
    </style>
</head>
<body>
    <%- include('./assets/navbar.ejs', { active: 'home', permission: permission })%>
    <% if (homePage.length != 0) { %>
        <section id="carousel">
            <div class="top">
                <h1> <span>Promoções</span> da <br> semana </h1>
            </div>
            <%- include('./assets/carousel/carousel.ejs', { homePage }) %>
        </section>
    <% } %>
    <section id="infos">
        <div class="left">
            <img src="/images/index/zahir.png" alt="Imagem do zahir comendo um hámburguer e um fundo em amarelo">
            <p class="text">Oi, meu nome é Ramon Sanmir, tenho 34 anos e moro em Fortaleza, desde que eu era muito novo já gostava do meio artistico e internet no geral, com 12 anos fiz um canal no YouTube com amigos e depois comecei a gravar vídeos para as redes sociais, no tempo sem muito apoio e por ser novo acabei sem dar continuidade. Já vendi dindim alcoólico na praia para conseguir comprar meu computador e iniciar a vida na internet, tive alguns planos atrasados pela pandemia e comecei a fazer transmissões na twitch, após esse período tendo como única fonte de renda os jogos e streams, comecei a fazer conteúdo de experiências e estou me reiventando a cada dia.</p>
            <div class="back"></div>
        </div>
        <div class="rigth">
            <img src="/images/index/panela.png" alt="Imagem de uma panela com frango assado">
        </div>
    </section>
    <section id="reviews">
        <div class="top">
            <a href="/profiles">
                <p class="plural">Últimas reviews</p>
                <p class="singular">Última review</p>
                <div class="stars">
                    <%- include('./assets/icons/star.ejs') %>
                    <%- include('./assets/icons/star.ejs') %>
                    <%- include('./assets/icons/star.ejs') %>
                    <%- include('./assets/icons/star.ejs') %>
                    <%- include('./assets/icons/star.ejs') %>
                </div>
            </a>
        </div>
        <div class="bottom">
            <% recents.forEach(e => { %>
                <% if (e.movie) { %>
                    <div class="movie loading">
                        <iframe src="<%= e.movie %>" width="320px" height="610px" frameborder="0" scrolling="no" loading="lazy"></iframe>
                    </div>
                <% } %>
            <% }) %>

        </div>
    </section>
    <%- include('assets/footer.ejs') %>

<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script>
    if ("serviceWorker" in navigator) {
        navigator.serviceWorker.register("/sw.js").then(
            (registration) => {
                console.log("Service worker registration succeeded:", registration);
            },
            (error) => {
                console.error(`Service worker registration failed: ${error}`);
            },
        );
    } else {
        console.error("Service workers are not supported.");
    }
</script>
<script>
    function mainFlickity(flkty) {
        let elements = flkty.cells.map(e => e.element)

        elements.forEach((e) => {
            e.classList.remove('left')
            e.classList.remove('rigth')
        })
        elements.forEach((e, i) => {
            // Center
            e.style.transform = e.style.transform.split(' ')[0] + ' translateY(-50%)'
            e.style.top = '50%'

            // set Left and Rigth
            if (e.classList.contains('is-selected') && elements.length > 1) {
                var prev = i-1
                var next = i+1

                if (prev < 0) { prev = prev + elements.length }
                if (next > elements.length-1) next = next-elements.length

                elements[prev].classList.add('left')
                elements[next].classList.add('rigth')
            }
        })
    }

    if (document.querySelector('.js-flickity')  != undefined) {
        var flkty = new Flickity('.js-flickity', {
        wrapAround: true,
        setGallerySize: false,
            on: {
            ready: function () {  mainFlickity(this) }
        }
        });
        
    
        flkty.on( 'scroll', function() {mainFlickity(flkty)});
    }
</script>
</body>
</html>