<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        html, body { min-width: calc(300px + 2rem); }
        
        body {
            /* background-image: url('/images/ProfilePage.png'); remove  */
            background-image: url('/images/back_10.png');
            background-size: 50%;
        }
    </style>
    <link rel="stylesheet" href="/stylesheet/assets/variables.css">
    <link rel="stylesheet" href="/stylesheet/assets/navbar.css">
    <link rel="stylesheet" href="/stylesheet/assets/footer.css">

    <link rel="stylesheet" href="/stylesheet/profile/profile.css">

    <title>Profile</title>
</head>
<body>
    <%- include('./assets/navbar.ejs', {active: null, permission: permission})%>
    <header>
        <div class="top">
            <div class="left">
                <%- include('./assets/carousel/card.ejs'), { profile } %>
                <% console.log(profile) %>
                <div class="back"></div>
            </div>
            <div class="rigth">
                <% if (profile.resume) { %>
                    <div class="description">
                        <h3>Descrição do produto</h3>
                        <p class="text-color"><%= profile.resume %></p>
                    </div>
                <% } %>
                <% if (profile.informations) { %>
                    <div class="informations">
                        <h3>Informações</h3>
                        <p class="text-color"><%= profile.informations %></p>
                    </div>
                <% } %>
                <div class="numbers">
                    <% profile.telephones.whatsapp.forEach(number => { %>
                        <p class="whatsapp">
                            <%- include('./assets/icons/whatsapp.ejs') %>
                            <span><%= number %></span>
                        </p>
                    <% }) %>
                    <% profile.telephones.telephone.forEach(number => { %>
                        <p class="telephone">
                            <%- include('./assets/icons/telephone.ejs') %>
                            <span><%= number %></span>
                        </p>
                    <% }) %>
                </div>
                <p class="address text-color">
                    <%- include('./assets/icons/local.ejs') %>
                    <span>Endereo grande com descrição bem bonitinho e completamente enorme vai entrar aqui</span>
                </p>
            </div>
        </div>
        <div class="division"></div>
        <div class="bottom">
            <div class="movie">
                <div class="embed">
                    <% if (profile.movie != undefined) { %>
                     
                        <iframe src="<%= profile.movie %>" frameborder="0" scrolling="no" loading="lazy" allowfullscreen></iframe>
                    <% } else { %>
                        <div class="text">Sem Review</div>
                    <% } %>
                </div>
                <!-- <div class="note">
                    <div class="stars">
                        <%- include('./assets/icons/star.ejs') %>
                        <%- include('./assets/icons/star.ejs') %>
                        <%- include('./assets/icons/star.ejs') %>
                        <%- include('./assets/icons/star.ejs') %>
                        <%- include('./assets/icons/star.ejs') %>
                    </div>
                    <p>Nota do Zahir: <span>8.5</span></p>
                </div> -->
            </div>
            <div class="reviewdeo">
                    <% if (profile.resume) { %>
                    <div class="block">
                        <h2>Reviewdeo</h2>
                        <p><%= profile.resume %></p>
                    </div>
                    <% } %>
                </div>
            <div class="map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30997.11679150667!2d-46.669899839951746!3d-23.578244383247092!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce448183a461d1%3A0x9ba94b08ff335bae!2zU8OjbyBQYXVsbywgU1A!5e1!3m2!1spt-BR!2sbr!4v1693102348578!5m2!1spt-BR!2sbr"
                    style="border:0;"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"
                ></iframe>
            </div>
        </div>
    </header>
    <%- include('./assets/footer.ejs') %>
</body>
</html>