<div id="filter">
    <div id="filterBar">
        <div id="search">
            <%- include('../assets/icons/search.ejs') %>
            <input type="search" placeholder="Pesquisa pelo nome">
        </div>
        <div id="openFilter" class="btn-shadow">
            <%- include('../assets/icons/filter.ejs') %>
        </div>
        <div class="clear" class="btn-shadow">
            <%- include('../assets/icons/close.ejs') %>
        </div>
    </div>
    <div id="screenFilter">
        <div class="back">
            <div class="top">
                <h2>Filtro de pesquisa</h2>
                <div class="close">
                    <%- include('../assets/icons/close.ejs') %>
                </div>
            </div>

            <div class="mainFilter">
                <div id="type">
                    <select id="sl_type">
                        <option value="restaurante">Restaurante</option>
                        <option value="hospedagem">Hospedagem</option>
                        <option value="lugares">Lugares</option>
                    </select>
                    <!-- <%- include('../assets/icons/arrow.ejs') %> -->
                </div>
                <div id="uf">
                    <select id="sl_uf">
                        <option value="" selected>Região</option>
                        <option value="AC">AC</option>
                        <option value="AL">AL</option>
                        <option value="AM">AM</option>
                        <option value="AP">AP</option>
                        <option value="BA">BA</option>
                        <option value="CE">CE</option>
                        <option value="DF">DF</option>
                        <option value="ES">ES</option>
                        <option value="GO">GO</option>
                        <option value="MA">MA</option>
                        <option value="MG">MG</option>
                        <option value="MS">MS</option>
                        <option value="MT">MT</option>
                        <option value="PA">PA</option>
                        <option value="PB">PB</option>
                        <option value="PE">PE</option>
                        <option value="PI">PI</option>
                        <option value="PR">PR</option>
                        <option value="RJ">RJ</option>
                        <option value="RN">RN</option>
                        <option value="RO">RO</option>
                        <option value="RR">RR</option>
                        <option value="RS">RS</option>
                        <option value="SC">SC</option>
                        <option value="SE">SE</option>
                        <option value="SP">SP</option>
                        <option value="TO">TO</option>
                    </select>
                    <!-- <%- include('../assets/icons/arrow.ejs') %> -->
                </div>
                <div id="promotion">
                    <h3>Promoção: </h3>
                    <div class="toogle">
                        <input type="checkbox" name="cb_promotion" id="cb_promotion" style="display: none;">
                        <label class="outside" for="cb_promotion">
                                <div class="circle"></div>
                        </label>
                    </div>
                </div>
                <div class="categories">
                    <h2>Categorias</h2>
                    <div id="categories"></div>
                </div>
            </div>
            <div class="options">
                <!-- <div class="confirm btn-shadow">filter</div> -->
                <div class="clear btn-shadow">Limpar</div>
            </div>
        </div>
    </div>
</div>